
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#to-signup-login{
	font-family: arial;
	text-align: center;
}
#to-login-signup{
	font-family: arial;
}

#signup-form{
	width: 500px;
	height : 670px;
	background: white;
	padding:15px;
	border-radius: 10px;
}

#signup-container{
	display: flex;
	justify-content: center;
}

#form-img{
	display: flex;
	justify-content:center;
	align-items:center;
	width:auto;
	border: 2px solid #444a7c;
	border-radius: 10px;
}
.signup-h1{
	padding: 15px;
	text-align: center;
	font-family: 'Oleo Script', cursive;
	/* font-weight: bold; */
}

body, html {
	font-family: 'Comfortaa', cursive;
	height: 100%
}

#pet-thumbnail-container a {
	text-decoration: none;
	color: black;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
    width: auto;
    background-color: rgb(88, 88, 88);
    font-family: 'Oleo Script', cursive;
}

#header nav {
	margin-right: 15px;
}

#header nav a {
	flex: 1;
	color: white;
	font-size: 30px;
	text-decoration: none;
	padding: 15px;
}

.slide-in-opp{
	animation-name: slideinopp;
	animation-duration: 2s;
}

@keyframes slideinopp {
  from {
    margin-right: -100%;
  }

  to {
    margin-left: 0%;
  }
}
.slide-in{
	animation-name: slidein;
	animation-duration: 2s;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }

  to {
    margin-right: 0%;
  }
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#logo-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo-section h1 {
    flex: 1;   
    font-size: 70px;
    color: white;
    padding-left: 15px;
}

#vax-table table, tr, td {
	border: 3px solid black;
}

#vax-table table td {
	width: 200px;
	height: 50px;
}

#vax-table button{
	margin: 15px;
}

#title{
	text-align: center;
	font-size: 45px;
	
}

#pet-thumbnail-container {
	display: flex;
	justify-content: center;
	align-items: top;
}

.page-container h1, h2 {
	margin-top: 0px;
	padding-top: 15px;
	
}

.pet-thumbnail {
	display: block;
	padding: 10px;
	border: 2px solid rgba(0, 0, 255, .2);
	margin: 30px;
	text-align: center;
	background-color: white;
	border-radius: 8px;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.pet-thumbnail h3 {
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.page-container {
	background-image: linear-gradient(to right, white, white, white, white,  white, aqua, #804af6);
	padding-bottom: 100px;
}

.signup-page-container{
	background-image: url("../pub/images/background.webp");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.signup-error {
	color: red;
}

#image-and-data{
	display: flex;
	justify-content: center;
	align-items: center;
}

#image {
	margin: 70px;
	background-color: rgba(0, 0, 255, .2);
	border-radius: 15px;
	padding: 20px;
}

#vax-table-container {
	display : flex;
	justify-content: center;
}

#vax-table{
	text-align: center;
}

#pet-data {
	text-align: left;
	margin: 50px;
}

#vax-details {
	text-align: center;
	margin-top: 0px;
}


#footer-section {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(88, 88, 88);
    font-family: 'Oleo Script', cursive;
}


.hvr-grow-rotate div a {
	text-decoration: none;
	color:white;
}
.hvr-grow-rotate {
  display: flex;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.wrapper{
	display: block;
	justify-content: center;
	margin: 30px;
}

#add-vax-form{
	height: 200px;
	width: 400px;
	text-align: center;
	background-color: white;
	border: 2px solid black;
}

.hide {
	display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in{ animation: fadeIn 2s; }












